# Ignorar arquivos do Python
*.pyc
__pycache__/

# Ignorar arquivos do Django
db.sqlite3
*.log

# Ignorar pastas de ambiente virtual
.venv/

# Ignorar arquivo de variáveis de ambiente
.env

staticfiles/