{% extends 'portal/base.html' %}
{% block content %}

<div class="cadastro-container">
    <h2 style="text-align: center;">Editar Perfil</h2>

    <!-- Mensagens gerais -->
    {% if messages %}
        <ul class="mensagens">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <!-- Username -->
        <div class="form-group">
            {{ form.username.label_tag }}<br>
            {% if form.username.errors %}
                <p class="mensagem-erro">{{ form.username.errors.0 }}</p>
            {% endif %}
            <input type="text" name="username" id="id_username"
                   class="input-padronizado {% if form.username.errors %}erro-campo{% endif %}"
                   value="{{ form.username.value }}">
        </div>

        <!-- Nome completo -->
        <div class="form-group">
            {{ form.nome_completo.label_tag }}<br>
            {% if form.nome_completo.errors %}
                <p class="mensagem-erro">{{ form.nome_completo.errors.0 }}</p>
            {% endif %}
            <input type="text" name="nome_completo" id="id_nome_completo"
                   class="input-padronizado {% if form.nome_completo.errors %}erro-campo{% endif %}"
                   value="{{ form.nome_completo.value }}">
        </div>

        <!-- Email -->
        <div class="form-group">
            {{ form.email.label_tag }}<br>
            {% if form.email.errors %}
                <p class="mensagem-erro">{{ form.email.errors.0 }}</p>
            {% endif %}
            <input type="email" name="email" id="id_email"
                   class="input-padronizado {% if form.email.errors %}erro-campo{% endif %}"
                   value="{{ form.email.value }}">
        </div>

        <!-- Telefone -->
        <div class="form-group">
            {{ form.telefone.label_tag }}<br>
            {% if form.telefone.errors %}
                <p class="mensagem-erro">{{ form.telefone.errors.0 }}</p>
            {% endif %}
              <input type="text" name="telefone" id="id_telefone"
                     class="input-padronizado {% if form.telefone.errors %}erro-campo{% endif %}"
                     placeholder="+55 (11) 91234-5678"
                     value="{{ form.telefone.value }}">

{#            <input type="text" name="telefone" id="id_telefone"#}
{#                   class="input-padronizado {% if form.telefone.errors %}erro-campo{% endif %}"#}
{#                   value="{{ form.telefone.value }}">#}
        </div>

        <!-- Redes sociais -->
        <!-- Instagram -->
        <div class="form-group">
            {{ form.instagram.label_tag }}<br>
            {% if form.instagram.errors %}
                <p class="mensagem-erro">{{ form.instagram.errors.0 }}</p>
            {% endif %}
            <input type="url" name="instagram" id="id_instagram"
                   class="input-padronizado {% if form.instagram.errors %}erro-campo{% endif %}"
                   value="{{ form.instagram.value }}">
        </div>

        <!-- Twitter -->
        <div class="form-group">
            {{ form.twitter.label_tag }}<br>
            {% if form.twitter.errors %}
                <p class="mensagem-erro">{{ form.twitter.errors.0 }}</p>
            {% endif %}
            <input type="url" name="twitter" id="id_twitter"
                   class="input-padronizado {% if form.twitter.errors %}erro-campo{% endif %}"
                   value="{{ form.twitter.value }}">
        </div>

        <!-- Facebook -->
        <div class="form-group">
            {{ form.facebook.label_tag }}<br>
            {% if form.facebook.errors %}
                <p class="mensagem-erro">{{ form.facebook.errors.0 }}</p>
            {% endif %}
            <input type="url" name="facebook" id="id_facebook"
                   class="input-padronizado {% if form.facebook.errors %}erro-campo{% endif %}"
                   value="{{ form.facebook.value }}">
        </div>

        <!-- YouTube -->
        <div class="form-group">
            {{ form.youtube.label_tag }}<br>
            {% if form.youtube.errors %}
                <p class="mensagem-erro">{{ form.youtube.errors.0 }}</p>
            {% endif %}
            <input type="url" name="youtube" id="id_youtube"
                   class="input-padronizado {% if form.youtube.errors %}erro-campo{% endif %}"
                   value="{{ form.youtube.value }}">
        </div>

        <!-- LinkedIn -->
        <div class="form-group">
            {{ form.linkedin.label_tag }}<br>
            {% if form.linkedin.errors %}
                <p class="mensagem-erro">{{ form.linkedin.errors.0 }}</p>
            {% endif %}
            <input type="url" name="linkedin" id="id_linkedin"
                   class="input-padronizado {% if form.linkedin.errors %}erro-campo{% endif %}"
                   value="{{ form.linkedin.value }}">
        </div>


        <!-- Avatar URL -->
        <div class="form-group">
            {{ form.avatar_url.label_tag }}<br>
            {% if form.avatar_url.errors %}
                <p class="mensagem-erro">{{ form.avatar_url.errors.0 }}</p>
            {% endif %}
            <input type="url" name="avatar_url" id="id_avatar_url"
                   class="input-padronizado {% if form.avatar_url.errors %}erro-campo{% endif %}"
                   value="{{ form.avatar_url.value }}">
        </div>

        <!-- Assinatura URL -->
        <div class="form-group">
            {{ form.assinatura_url.label_tag }}<br>
            {% if form.assinatura_url.errors %}
                <p class="mensagem-erro">{{ form.assinatura_url.errors.0 }}</p>
            {% endif %}
            <input type="url" name="assinatura_url" id="id_assinatura_url"
                   class="input-padronizado {% if form.assinatura_url.errors %}erro-campo{% endif %}"
                   value="{{ form.assinatura_url.value }}">
        </div>

        <hr>

        <!-- Senha Atual -->
        <div class="form-group">
            <label for="id_senha_atual">Senha Atual</label><br>
            {% if senha_atual_erro %}
                <p class="mensagem-erro">{{ senha_atual_erro }}</p>
            {% endif %}
            <input type="password" name="senha_atual" id="id_senha_atual"
                   class="input-padronizado {% if senha_atual_erro %}erro-campo{% endif %}"
                   placeholder="Digite sua senha atual">
        </div>

        <!-- Nova Senha -->
        <div class="form-group">
            <label for="id_nova_senha">Nova Senha</label><br>
            {% if nova_senha_erro %}
                <p class="mensagem-erro">{{ nova_senha_erro }}</p>
            {% endif %}
            <input type="password" name="nova_senha" id="id_nova_senha"
                   class="input-padronizado {% if nova_senha_erro %}erro-campo{% endif %}"
                   placeholder="Digite a nova senha">
        </div>

        <!-- Confirmar Nova Senha -->
        <div class="form-group">
            <label for="id_nova_senha_confirm">Confirme a Nova Senha</label><br>
            {% if nova_senha_confirm_erro %}
                <p class="mensagem-erro">{{ nova_senha_confirm_erro }}</p>
            {% endif %}
            <input type="password" name="nova_senha_confirm" id="id_nova_senha_confirm"
                   class="input-padronizado {% if nova_senha_confirm_erro %}erro-campo{% endif %}"
                   placeholder="Confirme a nova senha">
        </div>

        <button type="submit" class="btn-padronizado btn-centralizado">Salvar alterações</button>
    </form>
</div>


<!-- InputMask para telefone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>

<script>
  $(document).ready(function(){
    $('#id_telefone').inputmask({
      mask: '+[9{1,3}] (99) 99999-9999',
      greedy: false,
      placeholder: '_',
      showMaskOnHover: false,
      showMaskOnFocus: true,
      clearIncomplete: true,
      definitions: {
        '9': {
          validator: "[0-9]",
          cardinality: 1
        }
      },
      onBeforePaste: function (pastedValue, opts) {
        return pastedValue.replace(/\D/g, '');
      }
    });

    // Preenche automaticamente com +55 se o campo estiver vazio
    const telInput = $('#id_telefone');
    if (!telInput.val().trim()) {
      telInput.val('+55 ');
    }
  });
</script>


{% endblock %}
